.icons-row {
    display: flex;
    justify-content: space-between;
}

.icons-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-row__icon i {
    font-size: 35px;
    margin-bottom: 10px;
}

.icons-row__icon span {
    position: relative;
}

.icons-row__icon-drive {
    left: 35px;
    bottom: 45px;
}